* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    background-color: black;
    color: white;
    padding: 10px;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.choice {
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.choice img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.choice:hover {
    opacity: 0.5;
}

.score-board {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.score p {
    font-size: 30px;
    margin: 5px 0;
}

#msg {
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 10%;
}

#reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

#reset-btn:hover {
    background-color: darkred;
}
